@{
    ViewBag.Title = "Joey Hilton | Home";
}

<div class="text-center">
    <h1 class="display-4">The Joey Hilton Film Collection</h1>
    <img src="~/img/JoeyHilton.jpg" alt="Joey Hilton" />
</div>
