@{
    ViewBag.Title = "New Movie Form";
}
@model WebApp3.Models.Movie

<div>
    <h1>Enter a New Movie</h1>

    <p>Use this form to submit a new movie to the collection.</p>
    <form id="newMovieForm">
        <div class="inputSection">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" type="text" />
        </div>
        <div class="inputSection">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" />
        </div>
        <div class="inputSection">
            <label asp-for="Year">Year</label>
            <select asp-for="Year">
                @for (var i = 100; i > 0; i--)
                {
                    <option value="@(i + 1921)">@(i + 1921)</option>
                }
            </select>
        </div>
        <div class="inputSection">
            <label asp-for="Director">Director</label>
            <input asp-for="Director" type="text" />
        </div>
        <div class="inputSection">
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
        <div class="inputSection">
            <label asp-for="Edited">Edited</label>
            <input type="radio" asp-for="Edited" id="true" value="true" />
            <input type="radio" asp-for="Edited" id="false" value="false" />
        </div>
        <div class="inputSection">
            <label asp-for="LentTo">Lent To</label>
            <input asp-for="LentTo" type="text" />
        </div>
        <div class="inputSection">
            <label asp-for="Notes" title="Enter your notes. 25 character limit">Notes</label>
            <input asp-for="Notes" type="text" />
        </div>
        <div class="inputSection">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

